# {{ ansible_managed }}

### CARDANO NODE IMAGE ###
FROM ubuntu:20.04 AS cardano-node

# this is needed to avoid TIMEZONE interactive setup (set your time zone TIMEZONE in the docker-compose.yaml)
ENV DEBIAN_FRONTEND=noninteractive
RUN ln -snf /usr/share/zoneinfo/$TIMEZONE /etc/localtime && \
    echo $TIMEZONE > /etc/timezone && \
    dpkg --add-architecture i386 && \
    apt-get update -y && \
    apt-get install -y bc chrony curl jq iputils-ping tree apt-utils git rsync vim xxd libudev-dev libusb-1.0-0-dev

# Copy some customized config files
COPY etc/inputrc /etc/inputrc

# Copy the entrypoint scripts
COPY usr/local/lib/ /usr/local/lib/
COPY usr/local/bin/ /usr/local/bin/

# Copy downloaded binaries
COPY bins/ /usr/local/bin/

RUN curl -sLJ https://github.com/input-output-hk/jormungandr/releases/download/v{{ jormungandr_version }}/jormungandr-{{ jormungandr_version }}-x86_64-unknown-linux-gnu-generic.tar.gz -o /tmp/jormungandr-{{ jormungandr_version }}-x86_64-unknown-linux-gnu-generic.tar.gz
RUN tar -xzf /tmp/jormungandr-{{ jormungandr_version }}-x86_64-unknown-linux-gnu-generic.tar.gz -C /usr/local/bin/
RUN rm -rf /tmp/jormungandr-{{ jormungandr_version }}-x86_64-unknown-linux-gnu-generic.tar.gz

RUN curl -sLJ https://github.com/vacuumlabs/cardano-hw-cli/releases/download/v{{ hw_cli_version }}/cardano-hw-cli_{{ hw_cli_version }}-1.deb -o /tmp/cardano-hw-cli_{{ hw_cli_version }}-1.deb
RUN dpkg --install /tmp/cardano-hw-cli_{{ hw_cli_version }}-1.deb
RUN rm -rf /tmp/cardano-hw-cli_{{ hw_cli_version }}-1.deb

# Create the user and group to run the cardano-node
RUN groupadd {{ cardano_node_user }} && \
    useradd -c "Cardano node user" -m -d {{ cardano_node_user_home }} -s /sbin/nologin -g {{ cardano_node_user }} {{ cardano_node_user }}

# Switch user to run your app as USER for better security
# see this for great security tips https://github.com/BretFisher/ama/issues/17
USER {{ cardano_node_user }}
ENV HOME={{ cardano_node_user_home }}

# Create the needed directories to run the cardano-node
RUN bash -c 'mkdir $HOME/{config,db,keys,socket,scripts}/'

RUN git clone https://github.com/gitmachtl/scripts.git $HOME/scripts/scripts && \
    rsync -arsu $HOME/scripts/scripts/cardano/mainnet/ $HOME/scripts/ && \
    rm -rf $HOME/scripts/scripts/

COPY --chown={{ cardano_node_user }}:{{ cardano_node_user }} config/.bashrc $HOME/
COPY --chown={{ cardano_node_user }}:{{ cardano_node_user }} config/.common.inc $HOME/
COPY --chown={{ cardano_node_user }}:{{ cardano_node_user }} config/*.json $HOME/config/
COPY --chown={{ cardano_node_user }}:{{ cardano_node_user }} scripts/0x_genPledgeAccount.sh $HOME/scripts/

# Some ENV needed to be set for some cardano-cli commands to work
ENV CARDANO_NODE_DB_PATH=$HOME/db/ \
    CARDANO_NODE_SOCKET_PATH=$HOME/socket/node.socket

WORKDIR {{ cardano_node_user_home }}

ENTRYPOINT ["/usr/local/bin/docker-entrypoint.sh"]
