#!/bin/bash

# {{ ansible_managed }}

# Please set the following variables to your needs, you can overwrite them dynamically
# by placing a file with name "common.inc" in the calling directory. It will be sourced
# into this file automatically if present

socket="{{cardano_node_user_home}}/socket/node.socket" #Socket path
genesisfile="{{cardano_node_user_home}}/config/{{cardano_prefix}}-shelley-genesis.json" #Shelley-Genesis path
genesisfile_byron="{{cardano_node_user_home}}/config/{{cardano_prefix}}-byron-genesis.json" #Byron-Genesis path

cardanocli=$(command -v cardano-cli) #Path to your cardano-cli you wanna use
cardanonode=$(command -v cardano-node) #Path to your cardano-node you wanna use
itn_jcli=$(command -v jcli) #only needed if you wanna include your itn witness for your pool-ticker

magicparam="--mainnet"	#choose "--mainnet" for mainnet or for example "--testnet-magic 42" for a testnet
addrformat="--mainnet"  #choose "--mainnet" for mainnet address format or like "--testnet-magic 42" for testnet address format

{# #--------- only for kes/opcert update and upload via scp -----

remoteServerAddr="remoteserver address or ip"                       #RemoteServer ip or dns name
remoteServerUser="remoteuser"                             #RemoteServer userlogin via ssh keys
remoteServerSSHport="22"                                #RemoteServer SSH port number
remoteServerDestDir="~/remoteuser/core-###NODENAME###/."           #Destination directory were to copy the files to
remoteServerPostCommand="~/remoteuser/restartCore.sh"      #Command to execute via SSH after the file upload completed to restart the coreNode on the remoteServer #}
